# editor stuff
.vscode/
.ipynb_checkpoints/
pyrightconfig.json

# build stuff
__pycache__

# cloned repo containing scraped data as JSON
mountain-project-scraper/

# files too large at the moment
data/

# OS stuff
.DS_Store

# working files
src/throwaway.ipynb
src/best_params.json