.vscode/
.ipynb_checkpoints/
pyrightconfig.json
__pycache__
.DS_Store
big_wall_finder.egg-info

# cloned repo containing scraped data as JSON
mountain-project-scraper/

# data
data/
yosemite_shards/

# working stuff
*.ipynb
best_params.json