# editor stuff
.vscode/
.ipynb_checkpoints/

# build stuff
src/__pycache__

# cloned repo containing scraped data as JSON
mountain-project-scraper/

# files too large at the moment
data/

# OS stuff
.DS_Store